{% extends 'timetable/layout.html' %}
{% block content %}
mixin lecture-score(title, id, text)
  .lecture-score(style='clear:both;')
    span(id=id) #{text}
      br
    span #{title}
mixin basic-info(title, id, text)
  .basic-info
    span(style='font-weight:700') #{title}&nbsp&nbsp
    span(id=id) #{text}
#page-container
  #left-side
    #lecture-info
      div(style='padding:1em 1.2em;')
        div(style='text-align:center;')
          span#course-title
           프로그래밍기초
        div(style='text-align:center;margin-top:1px;')
          span#course-no CS101(B)
        div.lecture-options
          span#color-option(style='float:left;') 색상 변경
          span#syllabus-option 실라버스&nbsp&nbsp
          span#dictionary-option 과목 후기
        mixin basic-info('학과', 'department', '전산학부')
        mixin basic-info('구분', 'course-type', '기초필수')
        mixin basic-info('교수', 'instructor', '김순태')
        mixin basic-info('장소', 'classroom', 'E11 창의학습관 303호')
        mixin basic-info('정원', 'class-size', '45')
        mixin basic-info('시험', 'exam-time', '금요일 9:00 ~ 12:00')

        .lecture-scores
          mixin lecture-score('언어', 'language', 'Eng')
          mixin lecture-score('학점', 'credit', '3')
          mixin lecture-score('경쟁률', 'rate', '1.2:1')
        .lecture-scores
          mixin lecture-score('성적', 'grades', 'B')
          mixin lecture-score('널널', 'loads', 'A')
          mixin lecture-score('강의', 'speech', 'B-')
    #search-container
      #search-colheaders
        button.search-chead.search.active
          span.scheadtext Q
        - var search_tab = [1,2,3,4]
        each num in search_tab
          button.search-chead.result
            span.scheadtext #{num}
      #result-pages
        .search-page.none
          #lecturelist-filter
            label
              학과&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              span(style='font-size:11px') (
                a(href='/accounts/myinfo/')
                  관심학과 설정
                )
            select#department
              - var interest_dep = ['인문사회과학부','전산학부']
              - var all_dep = ['무학과','인문사회과학부','전산학부']
              optgroup(label='소속학과/관심학과')
                each dep in interest_dep
                  option #{dep}
              optgroup(label='전체 목록')
                each dep in all_dep
                  option #{dep}
            br
            label
              과목구분
            select#classification(style='width:100%')
              - var classifications = ['전체보기','기초필수','기초선택','전공필수','전공선택','교양필수','교양필수(체육)','교양선택','자유선택','공통필수','인문사회선택','선택(석/박사)','개별연구','졸업연구','세미나','논문세미나','현장실습연구']
              each cl in classifications
                option(value=cl) #{cl}
            br 
            label
              키워드
            input#keyword(type='text', autocomplete='off', style='width:97%')
            br
            div(style='text-align:right; margin-top:10px;')
              input#clear(type='button', name='clear', value='초기화', style='text-align:right;')
              input#apply(type='button', name='apply', value='적용', style='text-align:right;')
          #lecturelist-notice
            ※ 강의시간이 없는 과목들은 제외됩니다. (예: 졸업연구, 논문연구)
        .result-page
          .result-message
            span (전산학부), (전공필수, 전공선택)에 대한 검색 결과입니다.
          .lecture-list
  #center
    #timetable-menu
      #timetable-tabs(style='clear:both;')
        - var n4 = [1,2,3,4]
        each num in n4
          button.timetable-tab.active
            span.timetable-num 시간표 #{num}
        button.timetable-tab.timetable-add
          span.timetable-num +
    #timetable
      #timetable-wrap
        #colheaders
          - var week = ['월','화','수','목','금']
          each day in week
            .chead
              span #{day}요일
        #tablebody
          #rowheaders
            - var time = ["",9,10,11,12,1,2,3,4,5,6,7,8,9,10,11]
            each t in time
              .rhead
                span.rheadtext #{t}
          #grid-wrap
            #grid
              #timetable-contents
                - var n5 = [1,2,3,4,5]
                - var n15 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
                each _ in n5
                  .cellcolumn
                    each _ in n15
                      .cell1
                      .cell2
                    .cell1
                    .cell2.cell-bottom
              #cellselected
      div(style='height:3px;')
      #right-side
        #map(style='margin-bottom:10px')
          #map-wrap
            #map-container
              #map-img
                div
                  지도
        #info
          #type-credits
            mixin lecture-type-span(title, id, text)
              .lecture-type
                span.lecture-type-span #{title}&nbsp&nbsp
                span(id=id) #{text}
            mixin lecture-type-right(title, id, text)
              .lecture-type-right
                span.lecture-type-span #{title}&nbsp&nbsp
                span(id=id) #{text}
            mixin lecture-type-span('기필', 'basic-required', '10')
            mixin lecture-type-right('기선', 'basic-elective', '3')
            mixin lecture-type-span('전필', 'major-required', '3')
            mixin lecture-type-right('전선', 'major-eletive', '0')
            mixin lecture-type-span('인문', 'humanities', '0')
            mixin lecture-type-right('기타', 'other-lectured', '2')
          #total-credits
            .total-credit(style='margin-left:3em;')
              span#credits 18
                br
              span 학점
            .total-credit(style='margin:1em 3em;')
              span#au 2
                br
              span AU
              
          #table-scores
            .table-score
              span#grades A-
                br
              span 성적
            .table-score
              span#loads B+
                br
              span 널널
            .table-score
              span#speeches B
                br
              span 강의
        div(style='text-align:center')
          span
            시험시간표 
        #examtable
          - var examtable = [{'day':'월','times':['aa','bb']},{'day':'화','times':[]},{'day':'수','times':[]},{'day':'목','times':[]},{'day':'금','times':[]},]
          each table in examtable
            .examtime
              .exam-chead
                span #{table.day}
              .exam-body
                ul.examlist
                  each time in table.times
                    li #{time}
            .exam-body
              ul#examlist5
        #small-buttons
          #facebook
          #twiter
          #image
          #calendar
          #copy 
{% endblock %}
